$search-height: 36px;
.search-form {
  width: 100%;
  height: $search-height;
  position: relative;
  [data-tippy-root] {
    width: 100%;
  }
}
.tippy {
  width: 100%;
  height: 100%;
}
.user_search {
  width: 100%;
}
.search-input {
  width: 100%;
  height: 100%;
  padding: 3px 16px;
  background-color: rgb(239, 239, 239);
  border-radius: 6px;
}
::placeholder {
  color: var(--ig-secondary-text);
  font-weight: 300;
}
.search-placeholder {
  position: absolute;
  top: 18px;
  left: 15px;
  transform: translate(0, -50%);
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: rgb(239, 239, 239);
  p {
    color: var(--ig-secondary-text);
    font-weight: 300;
  }
}
.clear-icon,
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  transform: translate(0, -50%);
  top: 18px;
  color: var(--ig-secondary-text);
  font-size: 14px;
  cursor: pointer;
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  top: 8px;
  animation: rotating 1s linear infinite;
}
.wrapper {
  width: 100%;
  background: var(--ig-primary-background);
  border-radius: 6px;
  box-shadow: 0 0 2px rgb(134, 134, 134);
}
.item {
  width: 100%;
  line-height: 0;

  gap: 15px;
  cursor: pointer;
  .contain {
    display: flex;
    padding: 8px 16px;
    justify-content: start;
    gap: 10px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .item-text {
    p {
      line-height: 18px;
    }
  }
  .item-text .username {
    font-weight: 400;
  }
  .item-text .name {
    color: var(--ig-secondary-text);
    font-weight: 300;
  }
}
