.wrapper {
  // position: absolute;
  border-radius: 1000px;
  overflow: hidden;
  img {
    border-radius: 1000px;
    border: 1px solid rgba($color: #ababab, $alpha: 1);
  }
  overflow: hidden;
  width: min-content;
  // &:hover{
  //     border: 1px solid black;
  // }
  * {
    line-height: 0px;
    display: block;
  }
}
