.wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.wrapper[disabled] {
  pointer-events: none;
}
.wrapper:active {
  opacity: 0.6;
}
.wrapper[underline]:hover {
  text-decoration: underline;
}

.outline {
}
.text {
}
.blue-btn {
}
.avatar-btn {
  border: 1px solid var(--ig-primary-background);
  &:focus {
    border: 1px solid black;
  }
  border-radius: 999px;
}
