.wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.wrapper:active {
  opacity: 0.6;
}
.wrapper[text] {
  &:hover {
    text-decoration: underline;
  }
}
.outline {
}
.text {
}
.blue-btn {
}
.avatar-btn {
  border: 1px solid var(--ig-primary-background);
  &:focus {
    border: 1px solid black;
  }
  border-radius: 999px;
}
