.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contain {
  display: flex;
  flex-direction: column;
  a {
    display: block;

    line-height: 20px;
  }
}
.status {
  font-size: 1.2rem;
}
.user-name {
  font-size: 1.7rem;
  font-weight: 400;
}
.user-name[underline]:hover {
  text-decoration: underline;
}
