.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.avatar {
  align-self: start;
}
.content {
  word-wrap: break-word;
  a {
    display: block;
    width: fit-content;
  }
  background-color: rgba($color: #000000, $alpha: 0.06);
  padding: 4px 8px;
  border-radius: 10px;
  max-width: 90%;
}
.user-name {
  font-size: 1.5rem;
  font-weight: 400;
  display: block;
  &:hover {
    text-decoration: underline;
  }
}
